<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="uniCovid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
	  <add name="uniCovidDbEntities1" connectionString="metadata=res://*/BDModel.csdl|res://*/BDModel.ssdl|res://*/BDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.104;Initial Catalog=uniCovidDb;User ID=newUseruniCovid;Password=1234;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 <system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="uniCovid" type="System.Diagnostics.TextWriterTraceListener"
      initializeData="uniCovid.log" traceOutputOptions="Timestamp,DateTime" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
 <userSettings>
  <uniCovid.Properties.Settings>
   <setting name="DefaultCulture" serializeAs="String">
    <value>en</value>
   </setting>
   <setting name="WinHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="WinWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="listadoHeight" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="listadoWidth" serializeAs="String">
    <value>800</value>
   </setting>
  </uniCovid.Properties.Settings>
 </userSettings>
</configuration>